*,
html,
body {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(199, 199, 199);
}

.kode-mono {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.indentity {
    color: rgb(170, 170, 170);
    transition: all 0.3s ease-in-out;
    width: fit-content;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    margin: 20px;
}

.indentity:hover {
    background-color: black;
    color: white;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.carg {
    /* display: flex;
    justify-content: center; */
    display: grid;
    place-items: center;
    margin: 20px;
}

.list {
    padding-inline-start: 0px;
}

.list-img {
        width: 100%;
        height: auto;
}

.text {
    margin: 10px;
}

.ss {
    font-size: small;
    color: rgba(0, 0, 0, 0.61);
    transition: all 0.2s ease-in-out;

}

.ss:hover {
    background-color: darkgrey;
}

table, td {
    border: 3px solid black;
}

footer {
    background-color: black;
    color: white;
}

